<% layout("layouts/boilerplate") %> 

<h1>Editar Producto</h1>

<form action="/productos/<%= producto._id %>?_method=PUT" method="POST">
    <label for="nombre">Nombre de producto: </label>
    <input type="text" id="nombre" name="producto[nombre]" value="<%= producto.nombre %>">
    <label for="precio">Precio</label>
    <input type="text" id="precio" name="producto[precio]" value="<%= producto.precio %>">
    <button>Editar Producto</button>
</form>

<a href="/productos/<%= producto._id %>">PRODUCTOS</a>