<% layout("layouts/boilerplate") %> 

<h1>Todos los productos</h1>
<div>
    <a href="/productos/new">New Campgrounds</a>
</div>

<ul>
    <% for(let producto of productos) { %>
        <li><a href="/productos/<%= producto._id %>"><%= producto.nombre %></a></li>
    <% } %>
</ul>