<% layout("layouts/boilerplate") %> 

<h1>Crear Producto</h1>

<form action="/productos" method="POST">
    <label for="nombre">Nombre de producto: </label>
    <input type="text" id="nombre" name="producto[nombre]">
    <label for="precio">Precio</label>
    <input type="number" id="precio" name="producto[precio]0">
    <button>Crear Producto</button>
</form>

<a href="/productos">PRODUCTOS</a>
