<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1> <%= producto.nombre %> </h1>
    <h2> <%= producto.precio %> </h2>
    <p><a href="/productos/<%= producto._id %>/edit">Editar Producto</a></p>

    <form action="/productos/<%= producto._id %>?_method=DELETE" method="POST">
        <button>Eliminar Producto</button>
    </form>

    <footer>
        <a href="/productos">PRODUCTOS</a>
    </footer>
</body>
</html>