<% layout('layouts/boilerplate') %> 

<h1>Registrarse</h1>

<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="valid-feedback">
            ¡Bien!
        </div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email" name="email" required>
        <div class="valid-feedback">
            ¡Bien!
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="valid-feedback">
            ¡Bien!
        </div>
    </div>
    <button class="btn btn-success">Registrase</button>
</form>